h1 {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 15px;
	margin-bottom:  0px;
	margin-top: 100px;
} 

h3 {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 10px;
}

div {
	display: flex;
	justify-content: center;	
}

.color1 {
	margin-right: 10px;
}

body {
	background: linear-gradient(to right, #F0D6D6, #550600);
}

p {
	display: flex;
	justify-content: center;
	align-content: end;
}